<div class="home-subscribe">
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/BucketsMusic"
    method="post"
    target="_blank"
    class="embeddable-buttondown-form"
  >
    <input type="hidden" name="embed" value="1">
    <input type="email" name="email" id="bd-email" required autocomplete="email" class="home-subscribe-email">
    <input type="submit" value="Subscribe" class="home-subscribe-submit">
  </form>
</div>
